# Vars file for longhorn deployment default settings:
# Read more at:
# https://longhorn.io/docs/1.1.0/references/settings/

backup_target:
backup_target_credential_secret: 
allow_recurring_job_while_volume_detached:
create_default_disk_labeled_nodes: true
default_data_path: /var/lib/longhorn/storage/
replica_soft_anti_affinity: false
storage_over_provisioning_percentage: 200
storage_minimal_available_percentage: 5
upgrade_checker: true
default_replica_count: 3
default_data_locality: disabled
guaranteed_engine_cpu: 0.25
default_longhorn_static_storage_class: longhorn-static
backupstore_poll_interval: 300
taint_toleration: key1=master:NoSchedule
priority_class: high-piority
auto_salvage: true
auto_delete_pod_when_volume_detached_unexpectedly: true
disable_scheduling_on_cordoned_node: true
replica_zone_soft_anti_affinity: true
volume_attachment_recovery_policy: wait
node_down_pod_deletion_policy: do-nothing
allow_node_drain_with_last_healthy_replica: false
mkfs_ext4_parameters:
disable_replica_rebuild: false
replica_replenishment_wait_interval: 600
disable_revision_counter: false
system_managed_pods_image_pull_policy: if-not-present
allow_volume_creation_with_degraded_availability: true
auto_cleanup_system_generated_snapshot: true