---
  - name: Show K8S_TOKEN_HOLDER token
    debug:
      msg: "[Worker] K8S_TOKEN_HOLDER K8S token is {{ hostvars['K8S_TOKEN_HOLDER']['token'] }}"

  - name: Show K8S_TOKEN_HOLDER hash
    debug:
      msg: "[Worker] K8S_TOKEN_HOLDER K8S Hash is  {{ hostvars['K8S_TOKEN_HOLDER']['hash'] }}"

  - name: "Kubeadmn join Worker"
    shell: >
      kubeadm join --token={{ hostvars['K8S_TOKEN_HOLDER']['token'] }} --discovery-token-ca-cert-hash sha256:{{ hostvars['K8S_TOKEN_HOLDER']['hash'] }} {{api_dns}}:6443 --v=5 2>&1 | tee /tmp/kubeadm_init.log